body {
  font-family: poppins, sans-serif;
  background-color: #f0f0f0;
}

@media screen and (min-width: 500px) {
  .top-nav-bar {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .icons-container {
    justify-content: center;
    align-items: center;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0 25px 25px 15px;
    align-items: center;
    border-radius: 6px;
    box-shadow: 1px 1px 4px 1px grey;
    width: 335px;
  }
}
